/*imported fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

:root{
--primary-font-size: 2rem;
--box-shadow-input: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
--secondary-font-size : 1.5rem;
--color-primary: #49b168;
--color-secondary: #009e79;
--color-tertiary: #008981;
--color-quaternary:#00737e;
--color-fifth:#195d6f;
--color-sixth:#2f4858;
--font-color: black;
}

*{
    margin:0;
    padding:0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: oswald;
}

.container-fluid {
    margin: 0;
}

.top-bar {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    background-color: var(--color-primary);
}

/*====================RIGHT TOP SECTION===============*/
#right-top {
    display: block;
    text-align: center;
}

div .brand {
    font-size: 3rem;
}

div span.brand {
    color: rgb(255, 0, 0);
}

.logo img {
    border-radius: 30%;
    overflow: hidden;
    height: 30%;
    width: 40%;
}

/*====================MIDDLE TOP SECTION===============*/

#middle-top .categories {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    cursor: pointer;
}

a {
    font-size: var(--primary-font-size);
    margin: 0rem 4rem;
    color: black;
    text-decoration: none;
}

.search-box form {
    display: flex;
    justify-content: center;
}

.search-box label{
    font-size: var(--primary-font-size);
    margin: 1rem 1rem 0rem 0rem;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0.8;

}

.search-box input {
    flex: 1;
    height: 4rem;
    box-shadow: var(--box-shadow-input); 
    border-radius: 40px;
    font-size: var(--primary-font-size);
    text-align: center;
}

.search-box input::placeholder {
    font-size: var(--primary-font-size);
    text-align: center;
}

.search-container i{
    position: absolute;
    font-size: var(--primary-font-size);
    right:10px;
    cursor: pointer;
    color: rgb(175, 167, 165);
}

.mb-3 .form-control{
    width: 75%;
    box-shadow: var(--box-shadow-input);
}

.mb-3 .form-text{
    font-size: var(--secondary-font-size);
}

.mb-3 .form-label{
    font-size: var(--primary-font-size);
    color:var(--font-color);
}

.mb-3 button {
    font-size: 13px;
}

#left-top form{
    margin-left: 20%;
}

form i {
    font-size: 3rem;
    margin-left: 50%;
    cursor: pointer;
}

